.card-container {
  display: flex;
  flex: 1;
  align-items: center;
  margin-top: 1.5em;
  padding: 0.7rem;
}

.avatar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 5em;
  padding: 0.7rem;
}

.content-item {
  padding: 0.7rem;
}

.item-card-text-name {
  display: block;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
}

.item-card-text-sub {
  display: block;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 200;
  width: 20em;
}
