.card{
    /* Card Background */
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgb(0, 0, 255));
    padding-bottom: 100%;
    position: relative;
    }

.card_content {
    /* Flexbox  */
    display: flex;
    align-items:center;
    flex-direction:row;
    justify-content: center;

    /* Square */
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;

    }
@media only screen and (min-width: 900px) {
    .card_content {
        align-items:center;
        flex-direction:column;
        justify-content: center;

        /* Square */
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }
}

.card_content b{
    /* Card text color */
    color: rgb(255, 255, 255);
}