@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

body {
    margin: 0;
    padding: 0;
}

::placeholder {
    color: '#fff';
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: background-color 5000s, color 5000s;
}

.hidden-for-mobile {
    display: none;
}
.only-mobile {
    display: flex;
}
@media only screen and (min-width: 900px) {
    .hidden-for-mobile {
        display: flex;
    }
    .only-mobile {
        display: none;
    }
}