.main-content {
    margin: 0 1em 0 1em;
    background-color: '#FAF8F8';
    min-height: 100vh;
    display: flex;
    padding: 0 1em 0 1em;
    flex-direction: column;
    width: 100vw;
}
@media only screen and (min-width: 900px) {
    .main-content {
        width: 80vw;
        height: 100vh;
    }
}

.app-frame {
    display: flex;
    width: 100%;
}

.toolbar {
    display: flex;
    flex-direction: row;
    height: 20%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (min-width: 900px) {
    .toolbar {
        height: 15%;
    }
}

.logo {
    width: 10em;
}

.search {
    margin-top: 1em;
    width: 100%;
}
@media only screen and (min-width: 900px) {
    .search {
        margin-top: 0;
        width: 50%;
    }
}

.children-content {
    height: 80%;
}
@media only screen and (min-width: 900px) {
    .children-content {
        height: 85%;
    }
}
