.main-content {
    margin: 1em;
    background-color: '#FAF8F8';
    height: 100vh;
    width: 100vw;
    padding: 0 1em 0 1em;
}
@media only screen and (min-width: 900px) {
    .main-content {
        width: 80vw;
    }
}

.app-frame {
    display: flex;
    width: 100%;
}

.toolbar {
    display: flex;
    flex-direction: row;
    height: 8em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (min-width: 900px) {
    .toolbar {
        height: 5em;
    }
}

.logo {
    width: 10em;
}

.toolbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hamburguer-menu {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    margin-top: 1em;
    width: 100%;
}
@media only screen and (min-width: 900px) {
    .search {
        margin-top: 0;
        width: 50%;
    }
}

.children-content {
    margin-top: 2em;
}
