.app-frame {
    display: flex;
    width: 100%;
}

.toolbar {
    display: flex;
    flex-direction: row;
    height: 8em;
    flex-wrap: wrap;
    background-color: white;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    right: 0;
    left: 0;
    padding: 2em;
}
@media only screen and (min-width: 900px) {
    .toolbar {
        left: 30vw;
        height: 6em;
    }
}
@media only screen and (min-width: 1200px) {
    .toolbar {
        left: 20vw;
    }
}

.logo {
    width: 15em;
    left: -1em;
    position: relative;
    margin: 0 auto;
    align-self: center;
}
@media only screen and (min-width: 900px) {
    .logo {
        left: 0;
        margin: 0;
    }
}

.search {
    margin-top: 1em;
    width: 100vw;
}
@media only screen and (min-width: 900px) {
    .search {
        margin-top: 0;
        width: 30vw;
    }
}

.children-content {
    width: 100vw;
    padding: 2em;
    background-color: '#FAF8F8';
    min-height: 80vh;
    margin-top: 10em;
}
@media only screen and (min-width: 900px) {
    .children-content {
        width: 70vw;
        margin-left: 30vw;
        margin-top: 8em;
    }
}
@media only screen and (min-width: 1200px) {
    .children-content {
        margin-left: 20vw;
        width: 80vw;
    }
}