.paper{
    margin-top: 10px;
    margin-bottom: 10px;
	display: flex;
    border: 1px solid #ccc;
    flex-direction: column;
    padding: 1.5em;
    align-items: center;
}
@media (min-width: 900px) {
    .paper{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        border: 1px solid #ccc;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5em;
    }
}