.searchbar {
    width: 100%;
}

.results {
    z-index: 9999;
    position: fixed;
    width: 100%;
}
@media only screen and (min-width: 900px) {
    .results {        
        width: 30vw;
    }
}

.paper {
    z-index: 1;
    left: 0;
    right: 0;
}

.result-item {
    height: 4em;
}

.result-icon {
    width: 2em;
    height: 2em;
}

.result-name {
    font-size: 0.8em;
}

.result-description {
    font-size: 0.5em;
}
