.drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    height: 100vh;
    width: 70vw;
    background-color: #3c4754;
}
@media only screen and (min-width: 900px) {
    .drawer {
        width: 30vw;
        position: fixed;
    }
}
@media only screen and (min-width: 1200px) {
    .drawer {
        width: 20vw;
    }
}

.avatar-mask {
    margin: 2em 0 1em 0;
    display: inline-block;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    width: 100%;
}

.title {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

.sub-title {
    color: white;
    font-size: 1em;
    margin-top: .5em;
    font-weight: 400;
    margin-bottom: 1em;
}

.list {
    width: 100%;
}

.item-text {
    font-size: 0.8em;
    color: white;
}
